body{background: rgb(34, 51, 58);
    margin: 0;
    padding: 0;}
header{margin: 0;
    padding: 0;}
    .row{display: flex;
    text-align: center;
    padding: 30px;}
.row1{display: flex;}
.col-1{width: 33.5%;}
h1{color: white;
    font-size: 40px;
    margin-left: 45px;
    font-family: Montserrat Alternates;}
h2{color: rgb(249, 204, 6);
    font-family: Dancing Script;
    font-size: 30px;
    margin-left: 45px;}
.maintext{color: white;
    margin-left: 45px;
    font-family: Montserrat Alternates;}
nav{
    background-color:rgb(234, 224, 213);}
nav ul{
    margin: auto;
    padding: 0;        }
nav li{
    list-style-type: none;
    display:inline-block;
    text-align:right; 
    font-family:Montserrat Alternates;
    font-size: medium;} 
nav a{
    color: rgb(34, 51, 58);
    text-decoration: none;
    padding: 40px 10px;
    display: inline-block;}
.row{display: flex;
    max-width: 100%;}
nav a:hover{
    opacity: 40%; }
.col-2{text-align: left;
    width: 50%;
    font-family: Montserrat Alternates;
    font-size: 25px;
    color: white;
    margin-top: 50px;
    margin-left: 45px;
    width: 40%;}
.col-3{width:60%;
    text-align: right;
    height: 50%;}
.top{background-color: rgb(234, 224, 213);
    display:flex;}
.col-4{background-color: rgb(234, 224, 213);
    width: 33.5%; padding: 10px;
    height: 900px;
font-family: Montserrat Alternates;
font-size: 15px;
}
.ourstory{width: 100%;}
.col-5{text-align: center;
    color: white;
font-family: Montserrat Alternates;
}
h3{font-family: Montserrat Alternates;
    font-size: 15px;}
a{font-family: Montserrat Alternates;
        font-size: 15px; font-weight: 600;}
.menu-heading{font-size: 15px;}
.maintitle{margin-left: 45px;}
#logo{padding-left: 35px;
padding-top: 10px;}
#toggle-nav{position: absolute;
    left:0; top:0;
    display: none;}
    @media (max-width: 767px){
        .col-1{display: none;}
        #toggle-nav{
            
          display: block; /* display button beneath breakpoint */
        }
        #primary-nav{
          max-height: 0;
          overflow: hidden;
          transition: max-height 1em;
        }
        #primary-nav li{
          display: block;
        }
        /* Here, we override the rule when the body has a class of nav-open */
        body.nav-open #primary-nav{
          max-height: 600px;
          
        }
      }